@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "UbuntuSansMono-VariableFont_wght";
  src: url(UbuntuSansMono-VariableFont_wght.ttf);
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "UbuntuSansMono-VariableFont_wght";
}

p {
  font-family: "UbuntuSansMono-VariableFont_wght";
  font-style: 14px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: red;
}

header img {
  height: 50px;
  width: 50px;
}

header input {
  height: 20px;
  width: 200px;
}

header button {
  height: 20px;
  width: 200px;
  border-style: none;
  background-color: rgb(158, 155, 155);
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.pokemon {
  height: auto;
  width: 250px;
  border-radius: 20px;
  background-color: brown;
  margin: 15px;
  box-shadow: 5px 10px 10px rgb(190, 186, 186);
}

.pokemon:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px rgb(117, 115, 115);
}

.pokemon img {
  width: auto;
  height: auto;
  image-rendering: auto;
}

.upperC {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.categoryTypes p {
  width: auto;
  height: 20px;
  border-style: solid;
  border-color: white;
  height: auto;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}

button {
  display: flex;
  width: auto;
  height: auto;
  background-color: rgb(64, 4, 4);
  color: white;
  margin-left: 50%;
  padding: 5px;
  border-radius: 10px;
  border-style: none;
}

.modal-content-myself {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px !important;
  height: auto;
  padding-bottom: 10px;
}

.modal-myself {
  margin-left: 40%;
}

@media (max-width: 600px) {
  .modal-myself {
    margin-left: 0px;
  }
}

.btn-danger {
  margin-left: 45%;
}

p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-title {
  text-align: left !important;
}

table {
  border-spacing: 0.5px;
}

.position-btn-left {
  position: absolute;
  top: 250px;
  left: -150px;
}

.position-btn-right {
  position: absolute;
  top: 250px;
  right: 0px;
}
